<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>sh1chan</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  </head>

  <body>
    <div class="App">

      <h3>
        <a target="blank_" href="https://github.com/sh1chan">
        Aller anfang ist schwer. Anfangen ist einfach. Beharrlichkeit eine kunst.
        </a>
      </h3>

      <hr />

      <div class="container">

        <div class="pp4">Research Team
          <p><a target="_blank" href="https://github.com/fr1ht">fr1ht</a></p>
        </div>

        <div class="pp4">Design Team
          <p><a target="_blank" href="https://github.com/aintp3d0">aintp3d0</a></p>
        </div>

        <div class="pp4">Dev Teamt
          <p><a target="_blank" href="https://github.com/ames0k0">ames0k0</a></p>
        </div>

      </div>

    </div>
  </body>

</html>
